.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    height: 4.5rem;
    background-color: #0b1220;
    position: sticky;
    align-items: center;
    
}

.logo {
    color: white;
    margin-left: 3rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-right: 2.5rem;
    font-size: 16px;
}

.nav-links {
    margin-right: 4rem;
}
.nav-btn {
  color: white;
  background-color: #16a34a;
  padding: 0.5rem 1.75rem;
  font-size: 16px;
  cursor: pointer;

  /* Reserve space for border */
  border: 1px solid transparent;

  /* Smooth animation */
  transition: 
    background-color 0.3s ease,
    border 0.3s ease,
    transform 0.2s ease;
}

.nav-btn:hover {
  background-color: #0b1220;
  border: 1px solid #16a34a;

  
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: white;
}

/* the animated line */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 2px;
  background-color: #16a34a;

  /* hidden at start */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  
}
